* {
  box-sizing: border-box;
}

.slides {
  height: 66vh;
  width: 80vh;
  margin: 15vh auto;
}

.image {
  height: 66vh;
  width: 80vh;
  text-align: center;
}

.button.previous {
  position: absolute;
  margin-top: 33vh;
  margin-left: 3rem;
  color: #bbb;
  font-size: 3rem;
}

.button.next {
  position: absolute;
  margin-top: 33vh;
  margin-left: 47rem;
  color: #bbb;
  font-size: 3rem;
}

.button.previous:hover {
  color: #eee;
}

.button.next:hover {
  color: #eee;
}

.progress {
  position: absolute;
  top: calc(100% / 12 * 9);
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
}

.progress li {
  margin: 0.3rem;
  font-size: 1rem;
  display: inline;
  list-style: none;
}

.progress {
  margin: 0;
  padding: 0;
}

.progress:hover,
.button.next:hover,
.button.previous:hover {
  color: #eee;
  cursor: pointer;
}
